@import '../shared/styles/button.scss';
@import '../shared/styles/colours';
@import '../shared/styles/mixins';

.sudoku {
  @include font-family();
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $blue8;
  }

  .difficulty {
    display: flex;
    margin-bottom: 20px;
    font-size: 1em;
    align-items: center;

    button {
      margin: 0 10px;
    }
  }

  .action-toolbar {
    padding: 20px 0;

    button {
      margin: 0 10px;
    }
  }
}
